<div class="container">
  <div id="main-new-art">
    <form action="/articles/<%= article.title %>?_method=PATCH" method="post">
      <label>Title</label></br>
      <input type="text"
             name="article[title]"
            value="<%= article.title %>"></br>
      <label>Author</label></br>
      <input type="text"
             name="article[author]"
            value="<%= username %>"
            readonly></br>
      <label>Categories</label></br>
      <div class="categories-grp">
        <% if(article.categories) %>
        <input id="art-design" type="checkbox" name="article[categories][]"
          value="art-design" <%= article.categories.indexOf("art-design") > -1 ? "checked" : "" %>>
        <label for="art-design">Art and Design</label>
        <input id="culinary" type="checkbox" name="article[categories][]"
          value="culinary" <%= article.categories.indexOf("culinary") > -1 ? "checked" : "" %>>
        <label for="culinary">Culinary</label>
        <input id="history" type="checkbox" name="article[categories][]"
          value="history" <%= article.categories.indexOf("history") > -1 ? "checked" : "" %>>
        <label for="history">History</label>
        <input id="technology" type="checkbox" name="article[categories][]"
          value="technology" <%= article.categories.indexOf("technology") > -1 ? "checked" : "" %>>
        <label for="technology">Technology</label>
        <input id="sports" type="checkbox" name="article[categories][]"
          value="sports" <%= article.categories.indexOf("sports") > -1 ? "checked" : "" %>>
        <label for="sports">Sports</label>
        <input type="hidden" name="article[categories][]" value="">
      </div>
     <label>Content</label></br>
     <textarea type="text"
            name="article[content]"><%= article.content %></textarea>
     <input type="submit"
           value="Publish">
<!-- value of author should be user[username] -->
    </form>

  </div>
</div>
<footer class="delete-art-footer">
  <form action="/articles/<%= article.title %>?_method=DELETE" method="post">
        <input id="delete-button"
               type="submit"
               value="Delete Article">
  </form>
</footer>
