<div class="container">
  <div id="main">
    <div id="article">
      <div class="title">
        <h1><%= article.title %></h1>
        <h3>Author: <%= article.author %></h3>
      </div>
      <div class="full">
        <p>
          <%= article.content %>
        </p>
        <ul>
          <% var string = article.created_at.toString(); %>
          <% var time = string.split(" ").slice(0, 5); %>
          <li>This page was last modified on <%= time[0] + " " + time[1] + " " + time[2] + " " + time[3] + ", at " + time[4] + "."%></li></br>
          <% article.categories.forEach(function (categories, i) { %>
          <li>Categories: <%= article.categories[i] %></li>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>
</div>
<footer class="edit-art-footer">
  <span><a href="/articles/<%= article.title %>/edit"><i class="fa fa-pencil"></i></a> Edit this article.</span>
</footer>
